brick/math                         0.9.3               Arbitrary-precision arithmetic library
classpreloader/classpreloader      4.2.0               Helps class loading performance by generating a single PHP file...
dflydev/dot-access-data            v3.0.1              Given a deep data structure, access data by dot notation.
doctrine/inflector                 2.0.4               PHP Doctrine Inflector is a small library that can perform stri...
doctrine/instantiator              1.4.1               A small, lightweight utility to instantiate objects in PHP with...
doctrine/lexer                     1.2.3               PHP Doctrine Lexer parser library that can be used in Top-Down,...
dragonmantank/cron-expression      v3.3.1              CRON for PHP: Calculate the next or previous run date and deter...
egulias/email-validator            3.1.2               A library for validating emails against several RFCs
fakerphp/faker                     v1.19.0             Faker is a PHP library that generates fake data for you.
flipbox/lumen-generator            9.1.0               A Lumen Generator You Are Missing
fruitcake/php-cors                 v1.2.0              Cross-origin resource sharing library for the Symfony HttpFound...
graham-campbell/result-type        v1.0.4              An Implementation Of The Result Type
guzzlehttp/guzzle                  7.4.2               Guzzle is a PHP HTTP client library
guzzlehttp/promises                1.5.1               Guzzle promises library
guzzlehttp/psr7                    2.2.1               PSR-7 message implementation that also provides common utility ...
hamcrest/hamcrest-php              v2.0.1              This is the PHP port of Hamcrest Matchers
illuminate/auth                    v9.11.0             The Illuminate Auth package.
illuminate/broadcasting            v9.11.0             The Illuminate Broadcasting package.
illuminate/bus                     v9.11.0             The Illuminate Bus package.
illuminate/cache                   v9.11.0             The Illuminate Cache package.
illuminate/collections             v9.11.0             The Illuminate Collections package.
illuminate/conditionable           v9.11.0             The Illuminate Conditionable package.
illuminate/config                  v9.11.0             The Illuminate Config package.
illuminate/console                 v9.11.0             The Illuminate Console package.
illuminate/container               v9.11.0             The Illuminate Container package.
illuminate/contracts               v9.11.0             The Illuminate Contracts package.
illuminate/database                v9.11.0             The Illuminate Database package.
illuminate/encryption              v9.11.0             The Illuminate Encryption package.
illuminate/events                  v9.11.0             The Illuminate Events package.
illuminate/filesystem              v9.11.0             The Illuminate Filesystem package.
illuminate/hashing                 v9.11.0             The Illuminate Hashing package.
illuminate/http                    v9.11.0             The Illuminate Http package.
illuminate/log                     v9.11.0             The Illuminate Log package.
illuminate/macroable               v9.11.0             The Illuminate Macroable package.
illuminate/mail                    v9.13.0             The Illuminate Mail package.
illuminate/notifications           v9.13.0             The Illuminate Notifications package.
illuminate/pagination              v9.11.0             The Illuminate Pagination package.
illuminate/pipeline                v9.11.0             The Illuminate Pipeline package.
illuminate/queue                   v9.11.0             The Illuminate Queue package.
illuminate/session                 v9.11.0             The Illuminate Session package.
illuminate/support                 v9.11.0             The Illuminate Support package.
illuminate/testing                 v9.11.0             The Illuminate Testing package.
illuminate/translation             v9.11.0             The Illuminate Translation package.
illuminate/validation              v9.11.0             The Illuminate Validation package.
illuminate/view                    v9.11.0             The Illuminate View package.
laravel/lumen-framework            v9.0.2              The Laravel Lumen Framework.
laravel/scout                      v9.4.9              Laravel Scout provides a driver based solution to searching you...
laravel/serializable-closure       v1.1.1              Laravel Serializable Closure provides an easy and secure way to...
lcobucci/clock                     2.2.0               Yet another clock abstraction
lcobucci/jwt                       4.1.5               A simple library to work with JSON Web Token and JSON Web Signa...
league/commonmark                  2.3.1               Highly-extensible PHP Markdown parser which fully supports the ...
league/config                      v1.1.1              Define configuration arrays with strict schemas and access valu...
league/flysystem                   3.0.19              File storage abstraction for PHP
league/mime-type-detection         1.11.0              Mime-type detection for Flysystem
mockery/mockery                    1.5.0               Mockery is a simple yet flexible PHP mock object framework
monolog/monolog                    2.5.0               Sends your logs to files, sockets, inboxes, databases and vario...
myclabs/deep-copy                  1.11.0              Create deep copies (clones) of your objects
namshi/jose                        7.2.3               JSON Object Signing and Encryption library for PHP.
nesbot/carbon                      2.58.0              An API extension for DateTime that supports 281 different langu...
nette/schema                       v1.2.2              📐 Nette Schema: validating data structures against a given S...
nette/utils                        v3.2.7              🛠  Nette Utils: lightweight utilities for string & array man...
nikic/fast-route                   v1.3.0              Fast request router for PHP
nikic/php-parser                   v4.13.2             A PHP parser written in PHP
paragonie/random_compat            v9.99.100           PHP 5.x polyfill for random_bytes() and random_int() from PHP 7
paragonie/sodium_compat            v1.17.1             Pure PHP implementation of libsodium; uses the PHP extension if...
phar-io/manifest                   2.0.3               Component for reading phar.io manifest information from a PHP A...
phar-io/version                    3.2.1               Library for handling version information and constraints
phpdocumentor/reflection-common    2.2.0               Common reflection classes used by phpdocumentor to reflect the ...
phpdocumentor/reflection-docblock  5.3.0               With this component, a library can provide support for annotati...
phpdocumentor/type-resolver        1.6.1               A PSR-5 based resolver of Class names, Types and Structural Ele...
phpoption/phpoption                1.8.1               Option Type for PHP
phpspec/prophecy                   v1.15.0             Highly opinionated mocking framework for PHP 5.3+
phpunit/php-code-coverage          9.2.15              Library that provides collection, processing, and rendering fun...
phpunit/php-file-iterator          3.0.6               FilterIterator implementation that filters files based on a lis...
phpunit/php-invoker                3.1.1               Invoke callables with a timeout
phpunit/php-text-template          2.0.4               Simple template engine.
phpunit/php-timer                  5.0.3               Utility class for timing
phpunit/phpunit                    9.5.20              The PHP Unit Testing framework.
psr/container                      2.0.2               Common Container Interface (PHP FIG PSR-11)
psr/event-dispatcher               1.0.0               Standard interfaces for event handling.
psr/http-client                    1.0.1               Common interface for HTTP clients
psr/http-factory                   1.0.1               Common interfaces for PSR-7 HTTP message factories
psr/http-message                   1.0.1               Common interface for HTTP messages
psr/log                            3.0.0               Common interface for logging libraries
psr/simple-cache                   3.0.0               Common interfaces for simple caching
psy/psysh                          v0.11.4             An interactive shell for modern PHP.
pusher/pusher-php-server           7.0.2               Library for interacting with the Pusher REST API
ralouphie/getallheaders            3.0.3               A polyfill for getallheaders.
ramsey/collection                  1.2.2               A PHP library for representing and manipulating collections.
ramsey/uuid                        4.3.1               A PHP library for generating and working with universally uniqu...
sebastian/cli-parser               1.0.1               Library for parsing CLI options
sebastian/code-unit                1.0.8               Collection of value objects that represent the PHP code units
sebastian/code-unit-reverse-lookup 2.0.3               Looks up which function or method a line of code belongs to
sebastian/comparator               4.0.6               Provides the functionality to compare PHP values for equality
sebastian/complexity               2.0.2               Library for calculating the complexity of PHP code units
sebastian/diff                     4.0.4               Diff implementation
sebastian/environment              5.1.4               Provides functionality to handle HHVM/PHP environments
sebastian/exporter                 4.0.4               Provides the functionality to export PHP variables for visualiz...
sebastian/global-state             5.0.5               Snapshotting of global state
sebastian/lines-of-code            1.0.3               Library for counting the lines of code in PHP source code
sebastian/object-enumerator        4.0.4               Traverses array structures and object graphs to enumerate all r...
sebastian/object-reflector         2.0.4               Allows reflection of object attributes, including inherited and...
sebastian/recursion-context        4.0.4               Provides functionality to recursively process PHP variables
sebastian/resource-operations      3.0.3               Provides a list of PHP built-in functions that operate on resou...
sebastian/type                     3.0.0               Collection of value objects that represent the types of the PHP...
sebastian/version                  3.0.2               Library that helps with managing the version number of Git-host...
stella-maris/clock                 0.1.4               A pre-release of the proposed PSR-20 Clock-Interface
symfony/console                    v6.0.8              Eases the creation of beautiful and testable command line inter...
symfony/css-selector               v6.0.3              Converts CSS selectors to XPath expressions
symfony/deprecation-contracts      v3.0.1              A generic function and convention to trigger deprecation notices
symfony/error-handler              v6.0.8              Provides tools to manage errors and ease debugging PHP code
symfony/event-dispatcher           v6.0.3              Provides tools that allow your application components to commun...
symfony/event-dispatcher-contracts v3.0.1              Generic abstractions related to dispatching event
symfony/finder                     v6.0.8              Finds files and directories via an intuitive fluent interface
symfony/http-foundation            v6.0.8              Defines an object-oriented layer for the HTTP specification
symfony/http-kernel                v6.0.8              Provides a structured process for converting a Request into a R...
symfony/mailer                     v6.0.8              Helps sending emails
symfony/mime                       v6.0.8              Allows manipulating MIME messages
symfony/polyfill-ctype             v1.25.0             Symfony polyfill for ctype functions
symfony/polyfill-intl-grapheme     v1.25.0             Symfony polyfill for intl's grapheme_* functions
symfony/polyfill-intl-idn          v1.25.0             Symfony polyfill for intl's idn_to_ascii and idn_to_utf8 functions
symfony/polyfill-intl-normalizer   v1.25.0             Symfony polyfill for intl's Normalizer class and related functions
symfony/polyfill-mbstring          v1.25.0             Symfony polyfill for the Mbstring extension
symfony/polyfill-php56             v1.20.0             Symfony polyfill backporting some PHP 5.6+ features to lower PH...
symfony/polyfill-php72             v1.25.0             Symfony polyfill backporting some PHP 7.2+ features to lower PH...
symfony/polyfill-php80             v1.25.0             Symfony polyfill backporting some PHP 8.0+ features to lower PH...
symfony/polyfill-php81             v1.25.0             Symfony polyfill backporting some PHP 8.1+ features to lower PH...
symfony/process                    v6.0.8              Executes commands in sub-processes
symfony/service-contracts          v3.0.1              Generic abstractions related to writing services
symfony/string                     v6.0.8              Provides an object-oriented API to strings and deals with bytes...
symfony/translation                v6.0.8              Provides tools to internationalize your application
symfony/translation-contracts      v3.0.1              Generic abstractions related to translation
symfony/var-dumper                 v6.0.8              Provides mechanisms for walking through any arbitrary PHP variable
theseer/tokenizer                  1.2.1               A small library for converting tokenized PHP source code into X...
tijsverkoyen/css-to-inline-styles  2.2.4               CssToInlineStyles is a class that enables you to convert HTML-p...
tymon/jwt-auth                     dev-develop 014be8d JSON Web Token Authentication for Laravel and Lumen
vlucas/phpdotenv                   v5.4.1              Loads environment variables from `.env` to `getenv()`, `$_ENV` ...
voku/portable-ascii                2.0.1               Portable ASCII library - performance optimized (ascii) string f...
webmozart/assert                   1.10.0              Assertions to validate method input/output with nice error mess...
yab/laravel-scout-mysql-driver     v5.1.0              MySQL driver for Laravel Scout.
